In [88]:
import pandas as pd
import numpy as np

In [89]:
df = pd.read_csv("./data/crimeType.csv")

In [90]:
df.head()

           crime_ID  crime_type03
0  FFFFFFFFBA677FC9            13
1  FFFFFFFFD8DB4141            13
2  FFFFFFFFDB51030D            14
3  FFFFFFFFA4AD8487            14
4  FFFFFFFFD7183C0D            13

In [42]:
df["crime_ID"]=df["crime_ID"].astype(str)
df["crime_type03"] = df["crime_type03"].astype(str)

In [43]:
df["crime_ID"]

0         FFFFFFFFBA677FC9
1         FFFFFFFFD8DB4141
2         FFFFFFFFDB51030D
3         FFFFFFFFA4AD8487
4         FFFFFFFFD7183C0D
5                 46228022
6         FFFFFFFFA49666C4
7         FFFFFFFFBCCD6C70
8                 744CE93D
9                  627E339
10        FFFFFFFFA8DAD8F9
11                6548C6FE
12                2F407864
13                4AD029B0
14                57748936
15                17CDBB7A
16                4AD02706
17                4FC2E073
18                4FC2E092
19                 6512E9A
20                27D6BECE
21        FFFFFFFFB7202588
22                40C610C5
23        FFFFFFFF92226D07
24                784BD812
25                11604A08
26                150792DF
27                367424C2
28                6B788431
29                5D19759F
                ...
631169    FFFFFFFFB306D2B4
631170            7200B51F
631171            47A50453
631172            445ABF70
631173            21DC846B
631174    FFFFFFFFDB4FCEFE
631175            38635FED
631176    FFFFFFFFBE35016A
631177             4BEB27C
631178            69381347
631179            333F7A0C
631180    FFFFFFFFB633B101
631181    FFFFFFFFC13E5E0F
631182            32847CA5
631183            3F24BD88
631184    FFFFFFFF8FB985C4
631185             44CF1E0
631186    FFFFFFFF89CDE737
631187            43AA5A28
631188             FB9EEE4
631189            38264C09
631190            57B59BEE
631191    FFFFFFFFA77512D6
631192    FFFFFFFF9CB86306
631193            3C7DF9F8
631194    FFFFFFFFD6F7A243
631195            2A1ADA78
631196            599AD941
631197            303BF907
631198            7EFCA522
Name: crime_ID, Length: 631199, dtype: object

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631199 entries, 0 to 631198
Data columns (total 2 columns):
crime_ID        631199 non-null object
crime_type03    631199 non-null object
dtypes: object(2)
memory usage: 9.6+ MB

In [27]:
df.describe()

                crime_ID crime_type03
count             631199       631199
unique            481923           10
top     FFFFFFFFA0111C14           13
freq                 233       211895

In [28]:
df.shape

(631199, 2)

In [29]:
df.groupby("crime_type03").count()

              crime_ID
crime_type03
1                 7935
10               35633
11               38846
13              211895
14              113616
2                 7653
3                 6186
5                 4695
8               183975
9                20765

In [58]:
df["crime_ID"].astype(str)

pd.crosstab(df.crime_ID, df.crime_type03, margins=True)

crime_type03,1,10,11,13,14,2,3,5,8,9,All
crime_ID,,,,,,,,,,,
1-Feb-39,0,0,0,0,0,0,0,0,1,0,1
1-Feb-58,0,0,0,0,0,0,0,0,1,0,1
1.00E+07,0,0,0,1,0,0,0,0,0,0,1
1.00E+10,0,0,0,0,0,0,0,0,2,0,2
1.00E+85,0,0,0,0,1,0,0,0,0,0,1
1.01E+05,0,0,0,0,0,0,0,0,1,0,1
1.02E+69,0,0,0,0,0,0,0,0,1,0,1
1.02E+88,0,0,0,0,0,0,0,0,1,0,1
1.02E+95,0,0,0,0,0,0,0,0,1,0,1
1.03E+10,0,0,0,1,0,0,0,0,0,0,1
1.04E+06,0,0,0,1,0,0,0,0,0,0,1
1.04E+100,0,0,0,0,0,0,0,0,2,0,2
1.04E+32,0,2,0,0,0,0,0,0,0,0,2
1.04E+49,0,0,0,2,0,0,0,0,0,0,2
1.04E+68,0,0,0,0,0,0,0,0,1,0,1
1.04E+98,1,0,0,0,0,0,0,0,0,0,1
1.05E+09,0,0,0,0,0,9,0,0,0,0,9
1.05E+12,0,0,0,1,0,0,0,0,0,0,1
1.05E+26,0,0,0,0,1,0,0,0,0,0,1
1.05E+45,0,0,0,2,0,0,0,0,0,0,2
1.05E+64,0,0,0,0,1,0,0,0,0,0,1
1.05E+69,0,0,0,1,1,0,0,0,0,0,2
1.05E+73,0,1,0,0,0,0,0,0,0,0,1
1.05E+92,0,1,0,0,0,0,0,0,0,0,1
1.05E+97,0,0,0,0,0,0,0,0,1,0,1
1.06E+07,1,0,0,0,0,0,0,0,0,0,1
1.06E+10,0,0,0,1,0,0,0,0,0,0,1
1.06E+14,0,0,0,1,1,0,0,0,0,0,2
1.06E+298,0,0,0,1,0,0,0,0,0,0,1
1.07E+09,0,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
FFFFFFFFFFFA7809,0,0,0,0,1,0,0,0,0,0,1
FFFFFFFFFFFA7828,0,0,0,0,4,0,0,0,0,0,4
FFFFFFFFFFFB8E4A,0,0,0,0,1,0,0,0,0,0,1
FFFFFFFFFFFB8EA7,0,0,0,1,0,0,0,0,0,0,1
FFFFFFFFFFFB8EC6,0,1,0,0,0,0,0,0,0,0,1
FFFFFFFFFFFBE9DA,0,3,0,0,0,0,0,0,0,0,3
FFFFFFFFFFFC5155,0,0,0,1,0,0,0,0,0,0,1
FFFFFFFFFFFC5ED2,0,0,0,1,0,0,0,0,0,0,1
FFFFFFFFFFFC5EF1,0,0,0,0,0,0,0,0,3,0,3
FFFFFFFFFFFC85F3,0,0,0,0,0,0,0,0,2,0,2
FFFFFFFFFFFC8631,0,0,0,1,0,0,0,0,0,0,1
FFFFFFFFFFFD3A16,1,0,0,0,0,0,0,0,0,0,1
FFFFFFFFFFFD3A73,0,0,0,1,0,0,0,0,0,0,1
FFFFFFFFFFFD3AD0,0,0,0,1,0,0,0,0,0,0,1
FFFFFFFFFFFD3D7A,0,0,0,1,0,0,0,0,0,0,1
FFFFFFFFFFFE17C7,0,0,0,0,0,0,0,0,1,0,1
FFFFFFFFFFFE1ACE,0,0,0,0,0,0,0,0,2,0,2
FFFFFFFFFFFE1AED,0,0,0,0,0,0,0,0,2,0,2
FFFFFFFFFFFE3B4D,0,0,0,1,0,0,0,0,0,0,1
FFFFFFFFFFFE3B6C,0,0,0,1,0,0,0,0,0,0,1
FFFFFFFFFFFE3BFC,0,0,0,0,0,0,0,0,1,0,1
FFFFFFFFFFFE3E73,0,0,0,0,0,0,0,0,1,0,1
FFFFFFFFFFFEE9A6,0,0,0,1,0,0,0,0,0,0,1
FFFFFFFFFFFFA983,0,0,0,0,0,0,0,0,1,0,1
FFFFFFFFFFFFAC85,0,0,0,0,0,0,0,0,1,0,1
FFFFFFFFFFFFACE2,0,0,0,0,1,0,0,0,0,0,1
FFFFFFFFFFFFAD01,0,0,1,0,0,0,0,0,0,0,1
FFFFFFFFFFFFAFCA,0,0,0,0,1,0,0,0,0,0,1
FFFFFFFFFFFFC528,1,0,0,0,0,0,0,0,0,0,1
All,7935,35633,38846,211895,113616,7653,6186,4695,183975,20765,631199

In [45]:
df.iloc[631177]

crime_ID        4BEB27C
crime_type03          1
Name: 631177, dtype: object

In [61]:
df.crime_ID

0         FFFFFFFFBA677FC9
1         FFFFFFFFD8DB4141
2         FFFFFFFFDB51030D
3         FFFFFFFFA4AD8487
4         FFFFFFFFD7183C0D
5                 46228022
6         FFFFFFFFA49666C4
7         FFFFFFFFBCCD6C70
8                 744CE93D
9                  627E339
10        FFFFFFFFA8DAD8F9
11                6548C6FE
12                2F407864
13                4AD029B0
14                57748936
15                17CDBB7A
16                4AD02706
17                4FC2E073
18                4FC2E092
19                 6512E9A
20                27D6BECE
21        FFFFFFFFB7202588
22                40C610C5
23        FFFFFFFF92226D07
24                784BD812
25                11604A08
26                150792DF
27                367424C2
28                6B788431
29                5D19759F
                ...
631169    FFFFFFFFB306D2B4
631170            7200B51F
631171            47A50453
631172            445ABF70
631173            21DC846B
631174    FFFFFFFFDB4FCEFE
631175            38635FED
631176    FFFFFFFFBE35016A
631177             4BEB27C
631178            69381347
631179            333F7A0C
631180    FFFFFFFFB633B101
631181    FFFFFFFFC13E5E0F
631182            32847CA5
631183            3F24BD88
631184    FFFFFFFF8FB985C4
631185             44CF1E0
631186    FFFFFFFF89CDE737
631187            43AA5A28
631188             FB9EEE4
631189            38264C09
631190            57B59BEE
631191    FFFFFFFFA77512D6
631192    FFFFFFFF9CB86306
631193            3C7DF9F8
631194    FFFFFFFFD6F7A243
631195            2A1ADA78
631196            599AD941
631197            303BF907
631198            7EFCA522
Name: crime_ID, Length: 631199, dtype: category
Categories (481923, object): [1-Feb-39, 1-Feb-58, 1.00E+07, 1.00E+10, ..., FFFFFFFFFFFFACE2, FFFFFFFFFFFFAD01, FFFFFFFFFFFFAFCA, FFFFFFFFFFFFC528]

In [75]:
s = df["crime_ID"].astype(str)
sl = []
for i in s:
    if i.find("E+") > 0:
        sl.append(i)
print(len(sl))
sl = []
for j in s:
    if j.find("-") > 0:
        sl.append(j)
print(len(sl))

2811
29

In [83]:
len([s for s in df["crime_ID"].astype(str) if s.find("-")>0])

29

In [84]:
len([s for s in df["crime_ID"].astype(str) if s.find("E+")>0])

2811

In [85]:
a = {
    "name": "dlkjfsdkj",
    "freq": 2,
    "crime": [13, 8]
}
print(a)

{'name': 'dlkjfsdkj', 'freq': 2, 'crime': [13, 8]}

In [86]:
b = [a]

In [87]:
b[0]

{'crime': [13, 8], 'freq': 2, 'name': 'dlkjfsdkj'}