In [1]:
import pandas as pd

In [3]:
data={'sex':['male','female','female', 'female','male'],'pclass':[3,1,3,1,3]}

In [5]:
df = pd.DataFrame.from_dict(data)

In [6]:
df.head()

   pclass     sex
0       3    male
1       1  female
2       3  female
3       1  female
4       3    male

In [7]:
from sklearn.preprocessing import LabelEncoder
number = LabelEncoder()
df['sex'] = number.fit_transform(df['sex'].astype('str'))
df.head()

   pclass  sex
0       3    1
1       1    0
2       3    0
3       1    0
4       3    1