## Hierarchical Indices and pandas DataFrames

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('data/user_ex.csv')

In [5]:
df

         date language  ex_complete
0  2017-01-01   python            6
1  2017-01-02   python            5
2  2017-01-03   python           10
3  2017-01-01        r            8
4  2017-01-02        r            8
5  2017-01-03        r            8

In [6]:
df.set_index(['date','language'], inplace=True)

In [7]:
df

                     ex_complete
date       language
2017-01-01 python              6
2017-01-02 python              5
2017-01-03 python             10
2017-01-01 r                   8
2017-01-02 r                   8
2017-01-03 r                   8

In [8]:
df.index

MultiIndex(levels=[['2017-01-01', '2017-01-02', '2017-01-03'], ['python', 'r']],
           labels=[[0, 1, 2, 0, 1, 2], [0, 0, 0, 1, 1, 1]],
           names=['date', 'language'])

In [9]:
df.sort_index(inplace=True) #需要先將資料排序

In [10]:
df

                     ex_complete
date       language
2017-01-01 python              6
           r                   8
2017-01-02 python              5
           r                   8
2017-01-03 python             10
           r                   8

In [11]:
df.loc[('2017-01-02','r')]

ex_complete    8
Name: (2017-01-02, r), dtype: int64

In [12]:
df.loc['2017-01-02':'2017-01-03']

                     ex_complete
date       language
2017-01-02 python              5
           r                   8
2017-01-03 python             10
           r                   8