## poltting with pandas

### AAPL stock data

In [21]:
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
aapl = pd.read_csv('data/aapls.csv', index_col='date', parse_dates=True)
aapl.head()

             close      volume    open    high       low
date
2018-03-21  171.27  36387880.0  175.04  175.09  171.2600
2018-03-20  175.24  19620520.0  175.24  176.80  174.9400
2018-03-19  175.30  32931110.0  177.32  177.47  173.6600
2018-03-16  178.02  38313330.0  178.65  179.12  177.6200
2018-03-15  178.65  22676520.0  178.50  180.24  178.0701

In [23]:
close_arr = aapl['close'].values
type(close_arr)

numpy.ndarray

In [ ]:
plt.plot(close_arr)
plt.show()

In [ ]:
close_series = aapl['close']
type(close_series)

In [ ]:
plt.plot(close_series)

In [ ]:
plt.show()

In [ ]:
close_series.plot()
plt.show()

In [ ]:
aapl.plot()
plt.show()

In [ ]:
plt.plot(aapl)
plt.show()

### fixing scales

In [ ]:
aapl.plot()

In [ ]:
plt.yscale('log')

In [ ]:
plt.show()

### customizing plots

In [ ]:
aapl['open'].plot(color='b', style='.-', legend=True)

In [ ]:
aapl['close'].plot(color='r', style='.', legend=True)

In [ ]:
plt.axis(('2016-6', '2018-6', 100, 200))

In [ ]:
plt.show()

### saving file

In [ ]:
aapl.loc[:,['open','close','high','low']].plot()

In [ ]:
plt.savefig('aapl.png')
plt.savefig('aapl.jpg')
plt.savefig('aapl.pdf')

In [ ]:
plt.show()