## Pyhton使用sqlite3

In [1]:
import sqlite3 as lite
import sys

In [4]:
con = None
try:
    con = lite.connect('test.db')
    
    cur = con.cursor()
    cur.execute('select sqlite_version()')
    
    data = cur.fetchone()
    
    print('Sqlite version: %s' % data)
    
except lite.Error as e:
    print('Error %s' % e.args[0])
    sys.exit(1)
    
finally:
    if con:
        con.close()

Sqlite version: 3.20.1

`con = sqlite3.connect('test.db')`

* 開啟資料庫test.db的連結，如果開啟的資料庫不存在，則建立一個新的資料庫

`cur = con.cursor`

* 建立一個cursor物件

`cur.execute('SQL命令')`

* 執行SQL命令
* SQL命令中可以插入變數， 以「?」來代表，例如 `cursor.execute("insert into people values (?, ?)", (who, age))`

`cur.execute('SELECT SQLITE_VERSION()'`

* SQL命令顯示SQLITE版本

`cur.fetchone()`

* 獲得查詢結果的一筆資料

`sqlite3.Error`

* sqlite3 錯誤訊息

`con.close()`

* 關閉資料庫

In [6]:
con = None
try:
    con = lite.connect('test.db')
    
    with con:
    
        cur = con.cursor()
        cur.execute('select sqlite_version()')
    
        data = cur.fetchone()
    
        print('Sqlite version: %s' % data)
    
except lite.Error as e:
    print('Error %s' % e.args[0])
    sys.exit(1)
    
finally:
    if con:
        con.close()

Sqlite version: 3.20.1

### `with`

* 使用 With 關鍵字，Python自動會釋放資源，也提供錯誤處理

## C. 建立資料表及新增資料

In [3]:
con = None
try:
    con = lite.connect('test.db')
    
    with con:
    
        cur = con.cursor()
        cur.execute("drop table if exists Cars6")
        cur.execute("CREATE TABLE Cars6(Id INT, Name TEXT, Price INT)")
        cur.execute("INSERT INTO Cars6 VALUES(1,'Audi',52642)")
        cur.execute("INSERT INTO Cars6 VALUES(2,'Mercedes',57127)")
        cur.execute("INSERT INTO Cars6 VALUES(3,'Skoda',9000)")
        cur.execute("INSERT INTO Cars6 VALUES(4,'Volvo',29000)")
        cur.execute("INSERT INTO Cars6 VALUES(5,'Bentley',350000)")
        cur.execute("INSERT INTO Cars6 VALUES(6,'Citroen',21000)")
        cur.execute("INSERT INTO Cars6 VALUES(7,'Hummer',41400)")
        cur.execute("INSERT INTO Cars6 VALUES(8,'Volkswagen',21600)")
    
    
except lite.Error as e:
    print('Error %s' % e.args[0])
    sys.exit(1)
    
finally:
    if con:
        con.close()

### 利用 `executemany( )`

In [22]:
import sqlite3 as lite
import sys

cars = (
    (1, 'Audi', 52642),
    (2, 'Mercedes', 57127),
    (3, 'Skoda', 9000),
    (4, 'Volvo', 29000),
    (5, 'Bentley', 350000),
    (6, 'Hummer', 41400),
    (7, 'Volkswagen', 21600),
    (8, '速霸陸', 10000)
)


con = lite.connect('test.db')

with con:
    
    cur = con.cursor()    
    
    cur.execute("DROP TABLE IF EXISTS Cars2")
    cur.execute("CREATE TABLE Cars2(Id INT, Name TEXT, Price INT)")
    cur.executemany("INSERT INTO Cars2 VALUES(?, ?, ?)", cars)

`executemany()` 有二個參數，

* 第一個參數表示所要執行的SQL命令，其中 ? 代表嵌入位置
* 第二個參數以tuple型式表示要嵌入的參數，如cars定義。

要嵌入的資料以tuple of tuples表示

### 獲得最後一筆新增資料序號

In [24]:
import sqlite3 as lite
import sys

con = lite.connect('test.db')

with con:
    
    cur = con.cursor()    
    cur.execute("CREATE TABLE Friends(Id INTEGER PRIMARY KEY, Name TEXT);")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Tom');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Rebecca');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Jim');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Robert');")
        
    lid = cur.lastrowid
    print("The last Id of the inserted row is %d" % lid)

The last Id of the inserted row is 4

如果資料表有定義「主鍵」(Primary Key)且為「自動新增序號」(Automatically Increament)，可以利用`leastrowid`獲得最後一筆資料的序號。

## R.查詢資料

### 使用 `fetchall()`

In [ ]:
# -*- coding: utf-8 -*-

import sqlite3 as lite
import sys


con = lite.connect('test.db')

with con:    
    
    cur = con.cursor()    
    cur.execute("SELECT price FROM Cars")

    rows = cur.fetchall()

    for row in rows:
        print(row)

 `fetchall()` 可以獲得查詢的所有結果，每一筆結果存於一個tuple中，結果的tuple中包含所有查詢的結果。
下列程式碼可以印出所有結果
```python
for row in rows:
    print(row)
```

###  使用 `fetchone()`

In [ ]:
# -*- coding: utf-8 -*-

import sqlite3 as lite
import sys

con = lite.connect('test.db')

with con:
    
    cur = con.cursor()    
    cur.execute("SELECT * FROM Cars")

    while True:
      
        row = cur.fetchone()
        
        if row == None:
            break
            
        print(row[0], row[1], row[2])

### 以下程式可以一次獲得一筆資料，如果沒有資料則跳出迴圈結束。
```python
while True:
    row = cur.fetchone()
    if row == None:
        break
    print(row[0], row[1], row[2])
```

### 使用屬性欄位

In [ ]:
# -*- coding: utf-8 -*-

import sqlite3 as lite


con = lite.connect('test.db')    

with con:
    
    con.row_factory = lite.Row
       
    cur = con.cursor() 
    cur.execute("SELECT * FROM Cars")

    rows = cur.fetchall()

    for row in rows:
        print ("%s %s" % (row["Name"],  row["Price"]))

### 查詢特定資料

In [6]:
# -*- coding: utf-8 -*-

import sqlite3 as lite
import sys

uId = 1

con = lite.connect('test.db')

with con:

    cur = con.cursor()    

    cur.execute("SELECT Name, Price FROM Cars WHERE Id=:Id", 
        {"Id": uId})        
    
    row = cur.fetchone()
    print(row[0], row[1])

Audi 62300

## U.更新資料

In [10]:
# -*- coding: utf-8 -*-

import sqlite3 as lite
import sys

uId = 1
uPrice = 62300 

con = lite.connect('test.db')

with con:

    cur = con.cursor()    

    cur.execute("UPDATE Cars SET Price=? WHERE Id=?", (uPrice, uId)) 
    
    '''cur.execute("SELECT * FROM Cars where id = 1")
    data = cur.fetchall()
    for d in data:
        print(d)'''
    
    print("Number of rows updated: %d" % cur.rowcount)

Number of rows updated: 5

### 獲得資料表資料結構資訊

In [38]:
# -*- coding: utf-8 -*-

import sqlite3 as lite
import sys

con = lite.connect('test.db')

with con:
    
    cur = con.cursor()    
    
    cur.execute('PRAGMA table_info(Cars)')
    
    data = cur.fetchall()
    
    for d in data:
        print (d[0], d[1], d[2])

0 Id INT
1 Name TEXT
2 Price INT

## 刪除資料

In [12]:
# -*- coding: utf-8 -*-

import sqlite3 as lite
import sys

con = lite.connect('test.db')

with con:
    
    cur = con.cursor()    
    
    cur.execute("DELETE FROM Cars where id=6")
    print(con.total_changes)
    
    data = cur.execute("select * from Cars") #interesting
    for d in data:
        print(d)

0
(1, 'Audi', 62300)
(2, 'Mercedes', 57127)
(3, 'Skoda', 9000)
(4, 'Volvo', 29000)
(5, 'Bentley', 350000)
(7, 'Hummer', 41400)
(8, 'Volkswagen', 21600)
(1, 'Audi', 62300)
(2, 'Mercedes', 57127)
(3, 'Skoda', 9000)
(4, 'Volvo', 29000)
(5, 'Bentley', 350000)
(7, 'Hummer', 41400)
(8, 'Volkswagen', 21600)
(1, 'Audi', 62300)
(2, 'Mercedes', 57127)
(3, 'Skoda', 9000)
(4, 'Volvo', 29000)
(5, 'Bentley', 350000)
(7, 'Hummer', 41400)
(8, 'Volkswagen', 21600)
(1, 'Audi', 62300)
(2, 'Mercedes', 57127)
(3, 'Skoda', 9000)
(4, 'Volvo', 29000)
(5, 'Bentley', 350000)
(7, 'Hummer', 41400)
(8, 'Volkswagen', 21600)
(1, 'Audi', 62300)
(2, 'Mercedes', 57127)
(3, 'Skoda', 9000)
(4, 'Volvo', 29000)
(5, 'Bentley', 350000)
(7, 'Volkswagen', 21600)
(8, 'Subaru', 10000)