## 字串

字串屬於內容不可變(immutable)資料結構，字串內容不可改變，字串中每個字元都有其位置索引。

In [4]:
s = "Hello world!"
s[10]

'd'

In [5]:
s[10]='D'

TypeError: 'str' object does not support item assignment

python字串屬於物件，有其屬性及方法。字串方法如下：

#### upper() 將字串中所有字母轉換為大寫

In [ ]:
s = "hello jason"
s.upper()

#### lower() 將字串中所有字母轉換為小寫

In [ ]:
s = "HAPPY BIRTHDAY"
s.lower()

#### swapcase() 將字串中所有字母大小互換

In [ ]:
s = "Hello Jason"
s.swapcase()

#### capitalize() 將字串的第一個字母大寫

In [ ]:
s = "moon festitive"
s.capitalize()

#### title() 將字串中每一個字的第一個字母大寫

In [ ]:
s = "good night"
s.title()

#### strip() 將字串中的頭尾空白去除

In [ ]:
s = "  good holiday. \n \t   "
s.strip()

#### replace() 代換字串中的子字串

In [ ]:
s = "how are you, Jason"
s.replace("Jason", "Mary")

#### find() 尋找字串中的子字串的位置

In [ ]:
s = "how are you, Jaosn"
s.find("you")

#### count() 計算某一字在自串中出現的次數

In [ ]:
s = "John and Jason are good friends and students."
s.count("and")

#### split() 將字串轉換為 list

In [ ]:
s = "John is my brother."
s.split()

### repr( )函式

可將任何格式資料轉換成字串。

In [ ]:
a = 123
repr(a)

In [ ]:
a = 2.3e15
repr(a)

In [ ]:
a = False
repr(a)

### 格式化列印

In [7]:
print("I am {}, {} years old, and {} in height.".format("Jason", 55, 164.5))

I am Jason, 55 years old, and 164.5 in height.

In [10]:
print("I am {:7s}, {:3d} years old, and {:6.2f} in height.".format("Jason", 55, 164.5))

I am Jason  ,  55 years old, and 164.50 in height.

In [11]:
print("I am {name:7s}, {age:3d} years old, and {ht:6.2f} in height.".format(name="Jason",age= 55, ht=164.5))

I am Jason  ,  55 years old, and 164.50 in height.

In [13]:
print("I am %7s, %3d years old, and %.1f in height." % ("Jason", 55, 164.5))

I am   Jason,  55 years old, and 164.5 in height.