In [1]:
import pandas as pd
import numpy as np

In [2]:
dd = pd.read_csv("occurDate.csv")

In [4]:
dd.shape

(650552, 3)

In [6]:
dd.head()

                                 id          crime_ID  occurDate
0  00001c9f78ac719e20b4a9fbd9364c03  FFFFFFFFBA677FC9   20111020
1  00001c9f78ac719e20b4a9fbd9364c03  FFFFFFFFD8DB4141   20120421
2  000023aaefc5b81b3cd0b0f238f2f235  FFFFFFFFB526830A   20100312
3  00004c2de7c6f4110fc3b0b6676df130          75703FB4   20100208
4  0000ab48b06e0bb2cd59f1268fbbebb6  FFFFFFFFDB51030D   20130129

In [8]:
df1 = pd.read_csv("crimeType.csv")

In [9]:
df1.head()

           crime_ID  crime_type03
0  FFFFFFFFBA677FC9            13
1  FFFFFFFFD8DB4141            13
2  FFFFFFFFDB51030D            14
3  FFFFFFFFA4AD8487            14
4  FFFFFFFFD7183C0D            13

In [10]:
df1.shape

(631199, 2)

In [ ]:
df2 = pd.read_csv("data/")